:root {
  --bg-color: #f0ebe3;
  --header-color: #576f72;
  --nav-color: #e4dccf;
  --black: #333;
  --lighter-blue:#7d9d9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
}

/* --HEADER-- */
.header {
  background-color: var(--header-color);
  padding: 20px;
  color: white;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 3rem;
  align-items: center;
}

.title {
  font-size: 3rem;
}
